node_modules
.next
draft*
yarn-error.log
package-lock*
sh.exe.stackdump
variables.json
.env*.local
.next/build-manifest.json
.next/react-loadable-manifest.json
.next/server/init-server.js.js
.next/server/on-error-server.js.js
.next/server/pages-manifest.json
.next/server/ssr-module-cache.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/index.js
.next/static/chunks/0.js
.next/static/chunks/amp.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/index.js
.next/static/development/_buildManifest.js
yarn.lock
