.newsletter {
  margin-top: 100px;
  background-position: center;
  display: flex;
  justify-content: center;
  .image {
    position: relative;
  }
  img {
    object-fit: contain;
    object-position: center;
      width: 100%;
      height: 642px;
      position: relative;
  }
  .container {
    position: absolute;
    top: 128px;
    right: 8px;
    width: 62%;
    height: 506px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-left: 320px;
    border-radius: 58px;
    background: linear-gradient(90deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 9 / 68%) 40%);
    h2 {
      font-family: 'ITC Kabel Std';
      font-style: normal;
      font-weight: 800;
      margin-bottom: 50px;
    }
    form {
      width: 100%;
      display: flex;
    }
    .email-input {
      width: 100%;
      display: flex;
      height: 65px;
      position: relative;
      input {
        border-radius: 16px;
        font-size: 25px;
        font-family: 'ITC Kabel Std';
        font-style: normal;
        font-weight: 800;
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &:-moz-placeholder {
          font-family: 'ITC Kabel Std' !important;
          font-style: normal;
          font-weight: 800;
        }
      }
      button {
        position: absolute;
        top: 10px;
        right: 35px;
      }
    }
  }
}