.forgot-password-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #1f1f1f;
  width: 558px;
  padding: 40px 51px;
  text-align: center;
  border-radius: 12px;

  @media (max-width: 576px) {
    width: 95%;
    padding: 20px;
  }

  img {
    cursor: pointer;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  .title {
    margin-top: 24px;
    margin-bottom: 8px;
    font-family: "Press Start 2P";
    font-size: 20px;
    font-weight: 400;
  }

  .sub-title {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;

    @media (max-width: 576px) {
      font-size: 16px;
      font-weight: 400;
    }
  }
}
