@import "./games/";
@import "./promotion/";
@import "./withdraw/[code]/";
@import "./withdraw-status/[code]/";
@import "./about/[name]/";
@import "./white-paper/";
.homepage {
    .banner {
        position: relative;
        width: 100%;
        .blur {
          background: rgb(255, 255, 255);
          background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(160 185 27) 100%);
          height: 120px;
          width: 100%;
          position: absolute;
          bottom: 0;
        }
        .banner_bg {
          width: 100%;
        }
        .banner_content_logo {
            /* Group 11 */
            position: absolute;
            bottom: -100px;
            left: 50%;
            transform: translateX(-50%);
            width: 480.77px;
            height: 254.84px;
            z-index: 1;
        }
    }
    .about {
        position: relative;
        .bg-square {
            padding-top: 100px;
            position: relative;
            width: 100%;
            background: linear-gradient(180deg, rgb(160 185 27) 50%, rgba(255, 255, 255, 0) 100%);
        }
        .about_img_1 {
            position: absolute;
            width: 575.3px;
            height: 331.55px;
            top: -350px;
            left: -272px;
            transform: rotate(-6.08deg);
        }
        .about_img_2 {
            position: absolute;
            width: 575.3px;
            height: 331.55px;
            top: -350px;
            left: 450px;
            transform: rotate(0.06deg);
        }
        .about_img_3 {
            position: absolute;
            width: 575.3px;
            height: 331.55px;
            right: -583px;
            bottom: -150px;
        }
        .about_img_4 {
            /* Rectangle 6 */
            position: absolute;
            width: 575.3px;
            height: 331.55px;
            left: 73px;
            bottom: -450px;
            transform: rotate(3.71deg);
        }
        .about_img_5 {
            /* Rectangle 8 */
            position: absolute;
            width: 575.3px;
            height: 331.55px;
            left: -568px;
            top: 50px;
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            gap: 18px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .title-content {
                width: 713px;
                height: 59px;
                font-family: 'ITC Kabel Std';
                font-style: normal;
                font-weight: 800;
                font-size: 60px;
                line-height: 72px;
                text-align: center;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                background: linear-gradient(6.26deg, #FF9A05 4.93%, #FFC101 95.07%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-shadow: -2px 1px 0px #A04000;
                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 0;
            }
            .text {
                width: 673px;
                height: 96px;
                font-family: 'ITC Kabel Std';
                font-style: normal;
                font-weight: 800;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
                /* Inside auto layout */
                flex: none;
                order: 1;
                flex-grow: 0;
            }
            @media (max-width: 1024px) {
                gap: 50px;
            }
            @media (max-width: 992px) {
                display: block;
            }
        }
    }
    .characters {
        position: relative;
        width: 100%;
        height: 1381px;
        background: #94AB1A;
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            gap: 35px;
            position: absolute;
            width: 951px;
            height: 175px;
            left: calc(50% - 951px/2 + 0.5px);
            .title {
                /* Characters */
                width: 566px;
                height: 59px;
                font-family: 'ITC Kabel Std';
                font-style: normal;
                font-weight: 800;
                font-size: 60px;
                line-height: 72px;
                text-align: center;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                background: linear-gradient(6.26deg, #FF9A05 4.93%, #FFC101 95.07%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-shadow: -2px 1px 0px #A04000;
                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 0;
            }
            .text {
                width: 951px;
                height: 81px;
                font-family: 'ITC Kabel Std';
                font-style: normal;
                font-weight: 800;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
                /* Inside auto layout */
                flex: none;
                order: 1;
                flex-grow: 0;
            }
        }
    }
    .environment {
        width: 100%;
        height: 1381px;
        background: #94AB1A;
        position: relative;
        &_img {
            position: absolute;
            width: 1560px;
            height: 965.3px;
            left: calc(50% - 1560px / 2);
        }
        &_content {
            /* Frame 10 */
            /* Auto layout */
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            gap: 35px;
            position: absolute;
            width: 1015px;
            height: 190px;
            left: calc(50% - 1015px/2 + 0.5px);
            top: 670px;
            .title {
                /* Environment */
                width: 449px;
                height: 59px;
                font-family: 'ITC Kabel Std';
                font-style: normal;
                font-weight: 800;
                font-size: 60px;
                line-height: 72px;
                text-align: center;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                background: linear-gradient(6.26deg, #FF9A05 4.93%, #FFC101 95.07%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-shadow: -2px 1px 0px #A04000;
                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 0;
            }
            .text {
                /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. */
                width: 1015px;
                height: 96px;
                font-family: 'ITC Kabel Std';
                font-style: normal;
                font-weight: 800;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
                /* Inside auto layout */
                flex: none;
                order: 1;
                flex-grow: 0;
            }
        }
    }
    .gameplay {
        /* Rectangle 15 */
        position: relative;
        width: 100%;
        height: 1388px;
        background: #94AB1A;
        &_child {
            /* Frame 14 */
            /* Auto layout */
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            gap: 92px;
            position: absolute;
            width: 1560px;
            height: 1065.5px;
            left: 180px;
            .content {
                /* Frame 13 */
                /* Auto layout */
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                width: 1539px;
                height: 96px;
                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 0;
                .title {
                    /* Gameplay */
                    width: 449px;
                    font-family: 'ITC Kabel Std';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 60px;
                    line-height: 72px;
                    letter-spacing: 0.06em;
                    text-transform: uppercase;
                    background: linear-gradient(6.26deg, #FF9A05 4.93%, #FFC101 95.07%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-shadow: -2px 1px 0px #A04000;
                    /* Inside auto layout */
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }
                .text {
                    /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. */
                    width: 1090px;
                    font-family: 'ITC Kabel Std';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                    /* Inside auto layout */
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}